@font-face {
    font-family: 'HelveticaNeue';
    font-display: swap;
    src: url('../fonts/HelveticaNeueCyr-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue';
    font-display: swap;
    src: url('../fonts/HelveticaNeueCyr-Medium.woff2') format('woff2');
    font-weight: 550;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue';
    font-display: swap;
    src: url('../fonts/HelveticaNeueCyr-Roman.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  font-display: swap;
  src: url('../fonts/HelveticaNeueCyr-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  font-display: swap;
  src: url('../fonts/RobotoBold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  font-display: swap;
  src: url('../fonts/Poppins-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Exo';
  font-display: swap;
  src: url('../fonts/Exo-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}