.btn {
    width: 117px;
    height: 40px;
    left: 3px;
    top: 442px;
    border: none;
    background: var(--main-color);
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 96.69%;
    color: #FFFFFF;
    margin-top: 46px;
}