.modal {
    display: none;
    background: rgba($color: #000000, $alpha: .8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    &__window {
        width: 450px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
    }
    &__close {
        position: absolute;
        background: #fff;
        right: -60px;
        height: 50px;
        width: 50px;
        text-align: center;
        font-family: serif;
        font-size: 50px;
        line-height: 50px;
        cursor: pointer;
        color: var(--main-color);
    }

    &__img-wrapper {
        text-align: center;
        img {
            max-height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }

    .next, .prev {
        background: #fff;
        border: none;
        position: absolute;
        width: 50px;
        height: 50px;
        top: 50%;
        transform: translateY(-50%);
    }
    .next {
        right: -60px;
    }
    .prev {
        left: -60px;
    }
}